* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

input,
button {
  padding: 1em;
  margin-top: 1em;
}

button {
  border: none;
}

/* CSS Classes */

.active-button {
  background-color: lightblue;
}
